.icon-bg {
  fill: #F1F7EB;
  overflow:visible;
  transition: all 0.4s ease-in;
}

.icon-bg.active {
  fill: #F1F7EB;
  overflow:visible;
  /* transform: translateY(-10%) translateX(-2%); */
  transition: all 0.4s ease-in;
}

.icon {
  fill: #77A842;
  overflow:visible;
  transition: all 0.4s ease-in;
}

.icon.active {
  fill: #7F3549;
  overflow:visible;
  /* transform: translateY(-10%) translateX(-2%); */
  transition: all 0.4s ease-in;
}